.cat_wrapper {
  .row {
    height: 150px;
    display: block;
    float: left;
    margin: 10px 1%;
    width: 98%;
    padding: 5px;
    .title {
      float: right;
      width: 21%;
      height: 96%;
      display: block;
      margin: 0;
      padding: 2%;
      font-family: 'BigNoodle', Arial, sans-serif;
      text-align: left;
      h4, h5 {
        color: #444;
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        text-shadow: 0 1px 1px #fff;
      }
      h4 {
        font-size: 32px;
      }
      h5 {
        opacity: 0.5;
      }
    }
    .pic {
      float: left;
      width: 74%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      @include border-radius(3px);
      @include box-shadow(0 3px 1px rgba(0,0,0,0.8), 0 -1px 1px rgba(250,250,250,0.9));
    }
  }
}


.branding {
  #row1 {
    .pic {
      background-image: url('../img/cat/agrion.jpg');
    }
  }
  #row2 {
    .pic {
      background-image: url('../img/cat/pantone.jpg') ;
    }
  }
  #row3 {
    .pic {
      background-image: url('../img/cat/zeal.jpg') ;
    }
  }
  #row4 {
    .pic {
      background-image: url('../img/cat/island.jpg') ;
    }
  }
}

.mobile {
  #row1 {
    .pic {
      background-image: url('../img/cat/asda.jpg') ;
    }
  }
  #row2 {
    .pic {

      background-image: url('../img/cat/lifetech.jpg') ;
    }
  }
  #row3 {
    .pic {
      background-image: url('../img/cat/ticketweb.jpg') ;
    }
  }
  #row4 {
    .pic {
      background-image: url('../img/cat/invitrogen.jpg') ;
    }
  }
  #row5 {
    .pic {
      background-image: url('../img/cat/wasabi.jpg') ;
    }
  }
  #row6 {
    .pic {
      background-image: url('../img/cat/eats.jpg') ;
    }
  }
}

.web_design {
  #row1 {
    .pic {
      background-image: url('../img/cat/virtus.jpg') ;
    }
  }
  #row2 {
    .pic {

      background-image: url('../img/cat/wasab_desktop.jpg') ;
    }
  }
  #row3 {
    .pic {
      background-image: url('../img/cat/half_full.jpg') ;
    }
  }
  #row4 {
    .pic {
      background-image: url('../img/cat/wdnm.jpg') ;
    }
  }
  #row5 {
    .pic {
      background-image: url('../img/cat/hurt_locker.jpg') ;
    }
  }
  #row6 {
    .pic {
      background-image: url('../img/cat/zeal_website.jpg') ;
    }
  }
  #row7 {
    .pic {
      background-image: url('../img/cat/how_nap.jpg') ;
    }
  }
/*
  #row8 {
    .pic {
      background-image: url('../img/cat/acp.jpg') ;
    }
  }
  #row9 {
    .pic {
      background-image: url('../img/cat/palace_hotel.jpg') ;
    }
  }  
*/
}

@media only screen and (max-width: 481px) {
  .cat_wrapper {
    .row {
      .title {
        width: 31%;
        h4 {
          font-size: 22px;
        }
        h5 {
          font-size: 14px;
          opacity: 0.5;
        }
      }
      .pic {
        width: 64%;
      }
    }
  }
}