#container {
  width: 1020px;
  position: relative;
  margin: 0 auto;
  #wrapper {
    overflow: hidden;


    .nav {
      #main_title {
        color: #333;
        text-align: right;
        height: 50px;
        margin-top: 70px;
        display: block;
        h2 {
          font-weight: normal;
          font-size: 57px;
          margin: 0;
          text-shadow: 0 1px 1px #fff;
        }
      }
      .nav_container {
        width: 460px;
        float: right;
        overflow: hidden;
        margin-top: 10px;
        ul {
          display: block;
          overflow: hidden;
          li {
            display: block;
            float: left;
            a {
              display: block;
              padding: 5px;
              font-size: 18px;
               &:hover {
                opacity: 0.3;
                cursor: pointer;
              }
              &.active {
                opacity: 0.3;
              }
            }
          }
        }
        #nav{
          ul {
            li {
              a {
                color: #333;
                text-shadow: 0 1px 1px #fff;
              }
            }
          }
        }
        #sub_nav{
          ul {
            display: none;
            &.show {
              display: block;
            }
            li {
              a {
                color: #D81B5F;
                text-shadow: 0 1px 1px #fff;
              }
            }
          }
        }
      }
    }

    .box {
      width: $box_width;
      height: $box_height;
      margin: 5px;
      float: left;
      position: relative;
      overflow: hidden;
      background: #111;
      color: #fff;
      @include border-radius(3px);
      @include box-shadow(0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px rgba(250,250,250,0.8));
      @include background-clip(padding-box);
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      
      .pic {
        @include single-transition(all, 0.5s, ease-in);
        @include border-radius(3px);
        height: 100%;
        opacity: 0.1;
      }
      
      .title {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 20;
        @include single-transition(all, 0.5s, ease-in);
        h4 , h5 {
          @include single-transition(all, 0.5s, ease-in);
          opacity: 1;
          color: #fff;
          margin: 0;
          font-size: 22px;
          text-indent: 20px;
          font-weight: normal;
          text-shadow: 0 1px 2px #000;
          line-height: 30px;
          letter-spacing: 1px;
        }
        
        h5 {
          font-size: 14px;
        }
      }
    }
    .touch {
      .pic {
        opacity: 1;
      }

      .title {
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 43px;
        bottom: 0px;
        padding-top: 15px;
        border-top: 1px solid rgba(250,250,250,0.2);
        @include box-shadow(inset 0 0 5px 2px #111);
        @include border-radius(0 0 3px 3px);
        h4 , h5 {
          line-height: 15px;
          
        }
      }

    }
    
    .box.over {
      .pic {
        opacity: 1;
      }
      .title {
        bottom: -60px;
        h4 , h5 {
          line-height: 0px;
        }

      }
    }
    
    .empty, .logo {
      border: none;
      @include box-shadow(none);
      background: none;
    }
    #box1.logo {
      background: url('../img/logo.png') no-repeat center;
      @include background-size(90%);
      @include single-transition(all, 0.3s, ease-in);
      &.over {
        @include single-transition(all, 0.3s, ease-in);
        opacity: 0.8;
      }
    }

    
    #box3 {
      width: $t_width;
    }
    
    #box6 {
     .pic {
        background: url('../img/eats.jpg') no-repeat center;
      }
    }
    
    #box7 {
      width: $d_width;
      .pic {
        background: url('../img/agrion.jpg') no-repeat center;
      }
    }
    #box8 {
      width: $d_width;
      height: $d_height;
      .pic {
        background: url('../img/pantone.jpg') no-repeat center;
      }
    }
    
    #box9 {
      margin-top: $t_neg_margin;
      width: $d_width;
      .pic {
        background: url('../img/island.jpg') no-repeat center;
      }
    }
    
    #box10 {
      .pic {
        background: url('../img/invitrogen.jpg') no-repeat center;
      }
    }
    
    #box12 {
      margin-top: $t_neg_margin;
      height: $d_height;
      .pic {
        background: url('../img/styling.jpg') no-repeat center;
      }
    }
    
    #box11 {
      height: $d_height;
      .pic {
        background: url('../img/dossier.jpg') no-repeat center;
      }
    }
    
    #box13 {
      height: $d_height;
      .pic {
        background: url('../img/zeal.jpg') no-repeat center;
      }
    }
    #box14 {
      .pic {
        background: url('../img/wasabi.jpg') no-repeat center;
      }
    }
    #box15 {
      .pic {
        background: url('../img/afg.jpg') no-repeat center;
      }
    }
    
    #box16 {
      margin-top: $t_neg_margin;
      .pic {
        background: url('../img/andro.jpg') no-repeat center;
      }
    }
    #box18 {
      margin-top: $t_neg_margin;
      .pic {
        background: url('../img/hurtlocker.jpg') no-repeat center;
      }
    }
    
    #box17 {
      width: $d_width;
      .pic {
        background: url('../img/applecare.jpg') no-repeat center;
      }
    }
    #box19 {
      .pic {
        background: url('../img/angels.jpg') no-repeat center;
      }
    }
    #box20 {
      width: $d_width;
      .pic {
        background: url('../img/strawberry.jpg') no-repeat center;
      }
    }
    #box21 {
      .pic {
        background: url('../img/ali.jpg') no-repeat center;
      }
      display: none;
    }
  }
}


#footer {
  font: 14px/18px "TitilliumText22LRegular", Verdana, sans-serif;
  margin: 10px 0 0 0;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  .copyright {
    color: #aaa;
    text-shadow: 0 1px 1px #fff;
    margin: 5px 0;
    float: left;
  }
  a {
    float: right;
    margin-top: 2px;
    background: url('../img/copyright.jpg') no-repeat center;
    display: block;
    height: 20px;
    width: 58px;
    opacity: 0.5;
  }
    
}

@media only screen and (max-width: 481px) {
  body {
    #container {
      width: 100%;
      min-height: 1000px;
      margin: 0px auto;
      position: relative;
      overflow: hidden;
      
      #contact_me {
        top: 70px;
        right: -10px !important;
        padding-right: 20px !important;
        @include border-radius(5px);
        line-height: 15px;
        opacity: 0.6;
      }
      
      #wrapper {
        overflow: hidden;
        margin: 0 auto !important;
        // .nav {
        //   #header {
        //     #nav ul li {
        //       margin-right: 6px;
        //     }
        //     top: 10px !important;
        //     bottom: none !important;
        //     #main_title {
        //       color: #333;
        //       text-align: right;
        //       h2 {
        //         font-weight: normal;
        //         font-size: 32px;
        //         margin: 0;
        //         font-family: 'BigNoodle', Arial, sans-serif;
        //         text-shadow: 0 1px 1px #fff;
        //       }
        //     }
        //   }
        // }
        .box {
          width: 149px !important;
          height: 149px !important;
          margin: 5px;
          float: left;
        }
        .box.logo {
          width: 100% !important;
          margin: 0 auto !important;
          height: 120px !important;
          @include background-size(inherit !important);
          background-position: center 100% !important; 
        }
        #box3.nav {
          width: 96% !important;
          height: auto !important;
          margin: 0 2% !important;
          #main_title {
            margin-top: 20px;
            h2 {
              text-align: center;
              font-size: 32px;
            }
          }
          .nav_container {
            width: 100% !important;
            float: none;
            a {
              padding: 0 5px;
            }
            #sub_nav {
              margin-top: 10px;
            }
          }
        }
        // #box3 {
        //   height: 115px !important;
        //   width: 96% !important;
        //   margin: 0 2% !important;
        //   #header {
        //     #main_title {
        //       text-align: center;
        //       height: 30px;
        //       padding: 10px 0;
        //     }
        //     #nav {
            
        //       ul {
        //         height: 40px;
        //         li {
        //           float: none;
        //           display: inline-block;
        //         }
        //       }
        //     }
        //   }
        // }
        #box2 {
          display: none;
        }
        #box21 {
          display: block !important;
        }
      }
    }
  }

}

/*  and   (min-device-width: 768px) and (max-device-width: 1024px) and asdfasdfasd */
@media only screen and  (max-width: 768px) {
  #container {
    width: 758px;
    margin: 0px auto;
    min-height: 960px;
    #wrapper {
      overflow: hidden;

      // .nav {
      //   #header {
      //     height: 90px;
      //     #main_title, #nav {
      //       height: 45px;
      //       h2 {
      //         font-size: 37px;
      //       }
      //     }
      //   }
      // }
      
      .box {
        width: 179px !important;
        height: 179px !important;
        margin: 5px !important;
        float: left;
      }
      
      #box2 {
        display: none;
      }
      #box3.nav {
        width: $ipad_t_width;
        #main_title {
          margin-top: 60px;
        }
        .nav_container {
          // border: 1px solid;
          // width: 470px;
          // float: right;
        }
      }
      // #box3 {
      //   width: $ipad_d_width;
      // }
      
      #box21 {
        display: block !important;
      }

    }
  }
}



