#container {
  width: 1265px;
  margin: 0px auto;
  
  #wrapper {
    overflow: hidden;
    .nav {
      position: relative;
      #header {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 120px;
        width : 100%;
        overflow: hidden;
        
        #main_title {
          color: #333;
          text-align: right;
          height: 60px;
          h2 {
            font-weight: normal;
            font-size: 57px;
            margin: 0;
            font-family: 'BigNoodle', Arial, sans-serif;
          }
        }
        
        #nav{
          height: 60px;
          position: relative;
          width: 100%;
          ul {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            display: block;
            overflow: hidden;
            li { 
              color: #333;
              font-family: 'BigNoodle', Arial, sans-serif;
              float: left;
              display: block;
              margin-right: 10px;
              font-size: 16px;
              a {
                color: #333;
              }
            }
          }
        }
      }
    }
    
    .box {
      width: 240px;
      height: 240px;
      margin: 5px;
      float: left;
      @include border-radius(5px);
      @include box-shadow(0 0 5px #333, inset 0 0 15px rgba(0,0,0,0.7));
      position: relative;
      overflow: hidden;
      background: #111;
      color: #fff;
      

      
      @include background-clip(padding-box);
      .pic {
        @include single-transition(all, 0.5s, ease-in);
        height: 100%;
        opacity: 0.4;
        border: 1px solid #fff;
        @include border-radius(5px);
      } 
      .title {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 20;
        @include single-transition(all, 0.5s, ease-in);
        h4 , h5 {
          @include single-transition(all, 0.5s, ease-in);
          opacity: 1;
          color: #fff;
          margin: 0;
          font-size: 18px;
          text-indent: 20px;
          font-weight: normal;
          font-family: 'BigNoodle', Arial, sans-serif;
          letter-spacing: 1px;
          text-shadow: 0 1px 5px #333;
          line-height: 30px;
        }
        h5 {
          font-size: 12px;

        }
      }  
    }
    
    .box.over {
      .pic {
        opacity: 1;
      }
      .title {
        bottom: -60px;
        h4 , h5 {
          line-height: 0px;
        }

      }
    }
    .empty, .logo {
      border: none;
      @include box-shadow(none);
      background: none;
    }
    #box1.logo {
      background: url('../img/logo.png') no-repeat;
      -webkit-background-size: 100%;

    }

    
    #box3 {
      @include tripple_width();
    }
    
    #box6 {
     .pic {
        background: url('../img/angels.jpg') no-repeat;
      }
    }
    
    #box7 {
      @include double_width();
      .pic {
        background: url('../img/island.jpg') no-repeat;
      }
    }
    #box8 {
      @include double_width();
      @include double_height();
      .pic {
        background: url('../img/pantone.jpg') no-repeat;
      }
    }
    
    #box9 {
      margin-top: $t_neg_margin;
      @include double_width();
      .pic {
        background: url('../img/strawberry.jpg') no-repeat;
      }
    }
    
    #box12 {
      margin-top: $t_neg_margin;
      @include double_height();
      .pic {
        background: url('../img/zeal.jpg') no-repeat;
      }
    }
    
    #box11 {
      @include double_height();
    }
    
    #box13 {
      @include double_height();
    }
    #box15 {
      background: url('../img/andro.jpg') no-repeat;
    }
    
    #box16 {
      margin-top: $t_neg_margin;
    }
    #box18 {
      margin-top: $t_neg_margin;
    }
    #box17, #box20 {
      @include double_width();
    }
  }
}

/* --------------------- BRANDING PAGE --------------------- */

#brand_container {
  display: block;
  overflow: hidden;
  .brand_row {
    padding: 20px;
    margin: 20px 0;
    @include border-radius(5px);
    border: 1px solid pink;
  }
}


/* --------------------- BRANDING PAGE END ------------------ */


@media only screen and (max-width: 320px) {
  body {

  }
  #container {
    width: 100%;
    min-height: 1000px;
    margin: 0px auto;
    background: purple;
    #wrapper {
      overflow: hidden;
      border: 1px solid blue;
    
      .box {
        width: 147px !important;
        height: 147px !important;
        margin: 5px !important;
        border: 1px solid red;
        float: left;
      }
      #box1 {
        
      }
      #box2 {
        display: none;
      }
    }
  }

}

/*  and   (min-device-width: 768px) and (max-device-width: 1024px) and asdfasdfasd */
@media only screen and  (max-width: 768px) {
  #container {
    width: 768px;
    border: 1px solid blue;
    min-height: 1000px;
    margin: 0px auto;
    background: green;
    #wrapper {
      overflow: hidden;
      border: 1px solid green;
    
      .box {
        width: 179px !important;
        height: 179px !important;
        margin: 5px !important;
        border: 1px solid red;
        float: left;
      }
      
      #box3 {
        @include ipad_double_width();
      }
      
      #box8 {
        background-position: -76px -57px;
        -webkit-background-size: 185%;
      }
      
      #box18, #box19, #box20 {
        display: none;
      }
    }
  }
}



