.yeaBuddy {
  background: blue !important;
}

.hide_me {
  display: none !important;
}

html {
    overflow-y: scroll;
}
body {
  background: url('../img/bg.png') repeat;
  padding: 0;
  margin: 0;
  &.ipad {
    width: 760px !important;
    border: 10px solid red;
  }
}

#contact_me_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  & > #bg_module {
/*     background: rgba(250,250,250,0.8); */
    @include background-image(linear-gradient(top, #fff 10%,rgba(250,250,250,0) 100%));
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
  }
   display: none;
  &.active {
    display: block;
  }
  #contact_content {
    width: 250px;
    margin: 20px auto;
    z-index: 300;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -125px;
    overflow: hidden;
    text-align: center;
    //dfgdfgdfgdf
    a {
      display: inline-block;
      padding: 10px;
      height: 20px;
      margin: 10px;
      text-shadow: 0 1px 0 #fff;
      font: 22px/26px 'BigNoodle', Arial, sans-serif;
/*       line-height: 26px; */
      @include background-image(linear-gradient(top, #C6C8C8 0%,#A2A0A1 100%));
      @include border-radius(5px);
      @include box-shadow(0 0 2px #111);
      border: 1px solid white;
      position: relative;
      text-indent: 40px;
      .icon {
        width: 38px; 
        height: 38px;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #888;
        border-right: 2px solid #888;
        @include border-radius(6px 0 0 5px);
        background-image: url('../img/contact_icon.png');
      }
      &:first-child .icon { 
        background-color: #D41559;
        background-position-y: -132px;
      }
      &:nth-of-type(2) .icon {
        background-color: #00A9C6;
        background-position-y: -87px;
      }
      &:nth-of-type(3) .icon {
        background-color: #07C8F0;
        background-position-y: 0px;
      }
      &:nth-of-type(4) .icon {
        background-color: #0082AE;
        background-position-y: -44px;
      }
    }
  }
}
#container {
/*   width: 1265px; */
  width: 1020px;
  position: relative;
  margin: 0 auto;
  #contact_me {
    position: absolute;
    top: -5px;
    right: 1%;
    background: #00A7C9;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: 'BigNoodle', Arial, sans-serif;
    z-index: 100;
    @include box-shadow(0 1px 2px rgba(0,0,0,0.9));
    @include border-radius(0 0 5px 5px);
    text-shadow: 0 -1px 0 #111;
    cursor: pointer;
    span {
      height: 12px;
      margin-top: 2px;
      display: block;
    }
  }
  #wrapper {
    overflow: hidden;
    .nav {
      position: relative;
      #header {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100px;
        width : 100%;
        overflow: hidden;
        
        #main_title {
          color: #333;
          text-align: right;
          height: 50px;
          display: block;
          h2 {
            font-weight: normal;
            font-size: 57px;
            margin: 0;
            font-family: 'BigNoodle', Arial, sans-serif;
            text-shadow: 0 1px 1px #fff;
          }
        }
        
        #nav{
          height: 43px;
          position: relative;
          width: 100%;
          display: block;
          overflow : hidden;
          ul {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            display: block;
            overflow: hidden;
            height: 20px;
            li { 
              color: #333;
              font-family: 'BigNoodle', Arial, sans-serif;
              display: inline-block;
              margin-right: 15px;
              font-size: 16px;
              &:last-child {
                margin-right: 0;
              }
              a {
                color: #333;
                text-shadow: 0 1px 1px #fff;
                &:hover {
                  color: #999;
                  cursor: pointer;
                  text-shadow: 0 1px 5px #fff;
                }
                &.active {
                  color: #AAA;
                }
              }
            }
          }
        } // Ending Nav
        
      }
    }
    
    .box {
      width: $box_width;
      height: $box_height;
      margin: 5px;
      float: left;
      position: relative;
      overflow: hidden;
      background: #111;
      color: #fff;
      
      @include border-radius(3px);
      
      @include box-shadow(0 3px 1px rgba(0,0,0,0.8), 0 -1px 1px rgba(250,250,250,0.9));
      @include background-clip(padding-box);

      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      
      .pic {
      
        @include single-transition(all, 0.5s, ease-in);
        @include border-radius(3px);
        height: 100%;
        opacity: 0.1;
        
      }
      
      .title {
      
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 20;
        @include single-transition(all, 0.5s, ease-in);
        
        h4 , h5 {
          @include single-transition(all, 0.5s, ease-in);
          opacity: 1;
          color: #fff;
          margin: 0;
          font-size: 18px;
          text-indent: 20px;
          font-weight: normal;
          font-family: 'BigNoodle', Arial, sans-serif;
          letter-spacing: 1px;
          text-shadow: 0 1px 5px #333;
          line-height: 30px;
        }
        
        h5 {
          font-size: 12px;
        }
      }
    }
    .touch {
      .pic {
        opacity: 1;
      }

      .title {
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 43px;
        bottom: 0px;
        padding-top: 15px;
        border-top: 1px solid rgba(250,250,250,0.2);
        @include box-shadow(inset 0 0 5px 2px #111);
        @include border-radius(0 0 3px 3px);
        h4 , h5 {
          line-height: 15px;
          
        }
      }

    }
    
    .box.over {
      .pic {
        opacity: 1;
      }
      .title {
        bottom: -60px;
        h4 , h5 {
          line-height: 0px;
        }

      }
    }
    
    .empty, .logo {
      border: none;
      @include box-shadow(none);
      background: none;
    }
    #box1.logo {
      background: url('../img/logo.png') no-repeat center;
      @include background-size(90%);
      @include single-transition(all, 0.3s, ease-in);


      &.over {
        @include single-transition(all, 0.3s, ease-in);
        opacity: 0.8;
      }

    }

    
    #box3 {
      @include tripple_width();
    }
    
    #box6 {
     .pic {
        background: url('../img/invitrogen.jpg') no-repeat center;
      }
    }
    
    #box7 {
      @include double_width();
      .pic {
        background: url('../img/agrion.jpg') no-repeat center;
      }
    }
    #box8 {
      @include double_width();
      @include double_height();
      .pic {
        background: url('../img/pantone.jpg') no-repeat center;
      }
    }
    
    #box9 {
      margin-top: $t_neg_margin;
      @include double_width();
      .pic {
        background: url('../img/island.jpg') no-repeat center;
      }
    }
    
    #box10 {
      .pic {
        background: url('../img/virtus.jpg') no-repeat center;
      }
    }
    
    #box12 {
      margin-top: $t_neg_margin;
      @include double_height();
      .pic {
        background: url('../img/styling.jpg') no-repeat center;
      }
    }
    
    #box11 {
      @include double_height();
      .pic {
        background: url('../img/dossier.jpg') no-repeat center;
      }
    }
    
    #box13 {
      @include double_height();
      .pic {
        background: url('../img/zeal.jpg') no-repeat center;
      }
    }
    #box14 {
      .pic {
        background: url('../img/wasabi.jpg') no-repeat center;
      }
    }
    #box15 {
      .pic {
        background: url('../img/afg.jpg') no-repeat center;
      }
    }
    
    #box16 {
      margin-top: $t_neg_margin;
      .pic {
        background: url('../img/andro.jpg') no-repeat center;
      }
    }
    #box18 {
      margin-top: $t_neg_margin;
      .pic {
        background: url('../img/hurtlocker.jpg') no-repeat center;
      }
    }
    
    #box17 {
      @include double_width();
      .pic {
        background: url('../img/applecare.jpg') no-repeat center;
      }
    }
    #box19 {
      .pic {
        background: url('../img/angels.jpg') no-repeat center;
      }
    }
    #box20 {
      @include double_width();
      .pic {
        background: url('../img/strawberry.jpg') no-repeat center;
      }
    }
    #box21 {
      .pic {
        background: url('../img/ali.jpg') no-repeat center;
      }
      display: none;
    }
    
  }
}

#about_me_inner {
  padding: 10px;
  color: #fff;
  background: #444;
  float: left;
  margin: 10px;
  line-height: 18px;
  
  @include border-radius(5px);
  @include box-shadow(inset 0 0 5px 5px #333);

  -moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;


}

#footer {
  margin: 10px 0 0 0;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  .copyright {
    color: #aaa;
    text-shadow: 0 1px 1px #fff;
    margin: 5px 0;
    float: left;
  }
  a {
    float: right;
    margin-top: 2px;
    background: url('../img/copyright.jpg') no-repeat center;
    display: block;
    height: 20px;
    width: 58px;
    opacity: 0.5;
  }
    
}

@media only screen and (max-width: 481px) {
  body {
    #container {
      width: 100%;
      min-height: 1000px;
      margin: 0px auto;
          position: relative;
          overflow: hidden;
      
      #contact_me {
        top: 70px;
        right: -10px !important;
        padding-right: 20px !important;
        @include border-radius(5px);
        line-height: 15px;
        opacity: 0.6;
      }
      
      #wrapper {
        overflow: hidden;
        margin: 0 auto !important;
        .nav {
          #header {
            #nav ul li {
              margin-right: 6px;
            }
            top: 10px !important;
            bottom: none !important;
            #main_title {
              color: #333;
              text-align: right;
              h2 {
                font-weight: normal;
                font-size: 32px;
                margin: 0;
                font-family: 'BigNoodle', Arial, sans-serif;
                text-shadow: 0 1px 1px #fff;
              }
            }
          }
        }
        .box {
          width: 149px !important;
          height: 149px !important;
          margin: 5px;
          float: left;
        }
        .box.logo {
          width: 100% !important;
          margin: 0 auto !important;
          height: 120px !important;
          @include background-size(inherit !important);
          background-position: center 100% !important; 
        }
        #box3 {
          height: 115px !important;
          width: 96% !important;
          margin: 0 2% !important;
          #header {
            #main_title {
              text-align: center;
              height: 30px;
              padding: 10px 0;
            }
            #nav {
            
              ul {
                height: 40px;
                li {
                  float: none;
                  display: inline-block;
                }
              }
            }
          }
        }
        #box2 {
          display: none;
        }
        #box21 {
          display: block !important;
        }
      }
    }
  }

}

/*  and   (min-device-width: 768px) and (max-device-width: 1024px) and asdfasdfasd */
@media only screen and  (max-width: 768px) {
  #container {
    width: 758px;
    margin: 0px auto;
    min-height: 960px;
    #wrapper {
      overflow: hidden;
      .nav {
        #header {
          height: 90px;
          #main_title, #nav {
            height: 45px;
            h2 {
              font-size: 37px;
            }
          }
        }
      }
      
      .box {
        width: 179px !important;
        height: 179px !important;
        margin: 5px !important;
        float: left;
      }
      
      #box2 {
        display: none;
      }
      #box3 {
        @include ipad_triple_width();
      }
      
      #box21 {
        display: block !important;
      }
/*
      #box8 {
        background-position: -76px -57px;
        -webkit-background-size: 185%;
      }
*/
      
 /*
     #box18, #box19, #box20 {
        display: none;
      }
*/
    }
  }
}



